<div class="how-to" id={{how-to.id}}>
    <div class="instruction">
        <h2><span>{{how-to.number}}</span>{{how-to.title}}</h2>
        <div class="description">
            <p>{{how-to.description}}</p>
        </div>
    </div>
    <div class="image">
        <video autoplay="autoplay" loop="loop" muted="muted" style="width: 70%;">
            <source src="{{how-to.image}}" type="video/mp4">
        </video>
    </div>
    <div class="border"></div>
</div>
